$white: #ffffff;
$cyan200: #e5f8f7;
$cyan700: #33cac6;
$cyan800: #00bdb8;
$cyan900: #00a7a0;
$gray100: #eef1f4;
$gray200: #dde1e7;
$gray300: #f6f8fa;
$gray400: #787d86;
$gray500: #969aa2;
$gray600: #52565d;
$gray700: #33373a;
$gray800: #333333;
$gray900: #555555;
$black: #272b31;
$black200: #222222;
