@import "src/styles/colors";
@import "src/styles/device";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&display=swap");

.content-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

  .main-content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .right-side-wrapper {
    box-sizing: border-box;
    margin-left: 40px;
    padding: 40px 0 0;
  }
  @media only screen and (max-width: $tablet) {
    .right-side-wrapper {
      display: none;
    }
  }
  @media only screen and (max-width: $mobile) {
    .main-content-wrapper {
      width: 100%;
    }
    .right-side-wrapper {
      display: none;
    }
  }
}
