@import "src/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&display=swap");

.content-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

  .main-content-wrapper {
    width: 680px;
    margin: 0;
    padding: 0;
  }
  .right-side-wrapper {
    margin-left: 40px;
    width: 320px;
    padding: 40px 0 0;
  }
}
