@import "src/styles/colors";
@import "src/styles/device";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

.search-result-header {
  h3 {
    margin: 32px 0 0;
    padding: 0;
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
      sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    color: $black;
  }
  .search-result-header-sub-text {
    margin: 16px 0 15px;
    padding: 0;
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.35px;
    color: $gray400;
  }
  @media screen and (max-width: $narrow_pc) {
  }
  @media only screen and (max-width: $mobile) {
    h3 {
      margin: 20px 0 0;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.6px;
    }
    .search-result-header-sub-text {
      margin: 8px 0 0;
      font-size: 11px;
    }
  }
}
