@import "src/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

.search-result-header {
  .search-no-result-container {
    width: 680px;
    margin: 80px auto;
    p {
      font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
        sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      font-size: 16px;
      letter-spacing: -0.4px;
      color: $gray500;
      margin-bottom: 24px;
      text-align: center;
    }
  }
  h3 {
    margin: 32px 0 0;
    padding: 0;
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
      sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
    color: $black;
  }
  .search-result-header-sub-text {
    margin: 16px 0 15px;
    padding: 0;
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.35px;
    color: $gray400;
  }
}
