@import "src/styles/colors";
@import "src/styles/device";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.header-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  margin: 0;
  align-items: center;
  background: $white;
  z-index: 50;
  .logo {
    margin: 0 115px 0 0;
    padding: 0;
  }
  .text-input-field-wrapper {
    .text-input-field {
      position: relative;
      box-sizing: border-box;
      width: 680px;
      height: 40px;
      margin: 0;
      padding: 10px 40px 10px 16px;
      background: $gray100;
      border-radius: 8px;
      input {
        width: 100%;
        height: 100%;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        font-family: "Roboto", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
          sans-serif;
        font-size: 16px;
        color: $gray800;
        line-height: normal;
        letter-spacing: normal;
      }
      button {
        position: absolute;
        top: 8px;
        right: 16px;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
      }
    }
  }

  .button-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    button {
      margin: 0;
      height: 100%;
      border-radius: 8px;
      padding: 8px 20px;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.35px;
      font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC",
        sans-serif;
      cursor: pointer;
    }
    .sign-in-button {
      margin: 0 12px 0 0;
      background-color: $white;
      color: $cyan700;
    }
    .sign-in-button:hover {
      background: $cyan200;
    }
    .sign-up-button {
      background-color: $cyan700;
      color: $white;
    }
    .sign-up-button:hover {
      background: $cyan800;
    }
  }
  .button-wrapper:last-of-type {
    margin-left: auto;
  }
  @media screen and (max-width: $narrow_pc) {
    .logo {
      margin: 0 40px 0 0;
    }
    .text-input-field-wrapper {
      .text-input-field {
        width: 458px;
      }
    }
  }
  @media screen and (max-width: $tablet) {
    .text-input-field-wrapper {
      display: none;
    }
  }
  @media only screen and (max-width: $mobile) {
    height: 48px;
    .logo {
      width: 84px;
      height: 16px;
    }
    .text-input-field-wrapper {
      display: none;
    }
  }
}

.header-background-dim {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 49;
}
